<h2>Add Link</h2>
<form action="/articles/new" method="post">
  <table>
    <tr>
      <td>title:</td>
      <td><input type="text" name="title" size="100"/></td>
    </tr>
    <tr>
      <td>description:</td>
      <td><textarea name="description" cols="72" rows="20"></textarea></td>
    </tr>
    <tr>
      <td>href:</td>
      <td><input type="text" name="content" size="100"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Add" style="height:30px;width:100px;padding: 20px 15px 10px 15px;"/></td>
    </tr>
  </table>
</form>