<h2>详情</h2>
<table>
    <tr>
        <td>用户ID</td>
        <td><%= @article.user_id %></td>
    </tr>
    <tr>
        <td>标题</td>
        <td><%= @article.title %></td>
    </tr>
    <tr>
        <td>内容</td>
        <td><%= @article.content %></td>
    </tr>
    <tr>
        <td>添加时间</td>
        <td><%= @article.created_at %></td>
    </tr>
</table>
